/* @media (min-width: 7000px) { */
body {
    background: linear-gradient(#faf8f8, #e7e2e2);
    width: 100%;
	
}
@media screen and (max-width: 768px) {
body{
width: 100%;
height: 100%;
padding: 0;
margin: 0;
overflow-x: hidden;
}

}