.RegistrationPage {
  margin-top: 400px;
  background-color: #faf9f9;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: normal;
  border-radius: 20px
  
}

.event-details {
  display: flex;
  flex-direction: column;
  align-items: normal;
  margin-top: 5px;
  margin-bottom: 20px;
}


/* .event-details h1 {
  background-color: #f7f4f4;
  font-size: 2px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -100px; */

h1 img {
  position: absolute;
  top: 10px; /* adjust this value to position the photo vertically */
  left: 5px; /* adjust this value to position the photo horizontally */
  width: 450px; /* adjust this value to change the width of the photo */
  height: 420px; /* adjust this value to change the height of the photo */
  border-radius: 10px; /* add a border radius to round the edges of the photo */
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3); /* add a box shadow for a 3D effect */
  z-index: 1; /* set the z-index to 1 to ensure the photo appears above the content */
}
.registration-form {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.registration-form button {
  font-size: 28px;
  font-weight: bold;
  padding: 10px 60px;
  margin-right: 100px;
  background-color: #3134c5;
  color: #fdfafd;
  border: 0ch;
  border-radius: 10px;
  cursor: pointer;
  
}

.registration-form button:last-of-type {
  margin-right: 10px;
}

.registration-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.registration-form form label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.registration-form form input[type="text"],
.registration-form form input[type="email"] {
  
  font-size: 25px;
  padding: 5px;
  margin-bottom: 18px;
  border-radius: 40px;
  border: 2px solid #b5bad4;
}
.card-image {
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 13%;
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: 0 5%;
	position: relative;
}

/* .registration-form form input[type="submit"] {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #1eff00;
  color: #b10f0f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */



.side-photo {
  position: absolute;
  top: 20px; /* adjust this value to position the photo vertically */
  left: 350px; /* adjust this value to position the photo horizontally */
  width: 600px; /* adjust this value to change the width of the photo */
  height: 700px; /* adjust this value to change the height of the photo */
  border-radius: 10px; /* add a border radius to round the edges of the photo */
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3); /* add a box shadow for a 3D effect */
  z-index: 1; /* set the z-index to 1 to ensure the photo appears above the content */
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.footer a {
  margin: 0 1rem;
  font-size: 1.5rem;
  color: #333;
  transition: color 0.2s;
}

.footer a:hover {
  color: #000;
}

